<!DOCTYPE html>

<html lang="en">

  {{>Head}}

  <body>

    <h1 id="adminLogo">Skate Park</h1>

    <div class="py-4">

      <h2 id="adminTitulo">Administración</h2>
      <hr class="w-50 mx-auto" />

      <table class="table table-dark w-50 m-auto">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>

        <tbody>

          <tr class='tbody'>
            <th scope="row">1</th>
            <td><div style='background-image: url("/img/tony.jpg");'></div></td>
            <td>Tony Hawk</td>
            <td>12</td>
            <td>Kickflip</td>
            <td><input type="checkbox" checked /></td>
          </tr>

          <tr class='tbody'>
            <th scope="row">2</th>
            <td><div style='background-image: url("/img/Evelien.jpg");'></div></td>
            <td>Evelien Bouilliart</td>
            <td>10</td>
            <td>Heelflip</td>
            <td><input type="checkbox" checked /></td>
          </tr>

          <tr class='tbody'>
            <th scope="row">3</th>
            <td><div style='background-image: url("/img/Danny.jpg");'></div></td>
            <td>Danny Way</td>
            <td>8</td>
            <td>Ollie</td>
            <td><input type="checkbox" /></td>
          </tr>
          
          {{#each usuarios}}

            <tr>
              <th scope="row">{{inc @index}}</th>
              <td><div style="background-image: url('/img/{{this.foto}}');"></div></td>
              <td>{{this.nombre}}</td>
              <td>{{this.anos_experiencia}}</td>
              <td>{{this.especialidad}}</td>
              <td><input class="statusCheckbox" name="{{this.id}}" type="checkbox" {{#if this.estado}}checked{{/if}} /></td>
            </tr>

          {{/each}}

        </tbody>

      </table>

    </div>

    {{>BodyCDN}}

  </body>

</html>